{{infra_master,brd_ipaddr},"localhost"}.
{{infra_master,port},10010}.
{{repo_mgr,brd_ipaddr},"localhost"}.
{{repo_mgr,port},10000}.
{{infra_master,initial_file},"include/initial.config"}.
{{infra_master,hearbeat_interval},60000}.
{{tcp_setup,client},[binary,{packet,4}]}.
{{tcp_setup,server},[binary,{packet,4},{reuseaddr,true},{active,true}]}.
